<h1>{{title}}</h1>

<ng-container *ngIf="!condition">
    <h1 *ngIf="customerId==0">Create Customer</h1><h1 *ngIf="customerId>0">Edit Customer</h1>
<form [formGroup]="customerForm" (ngSubmit)="save()" novalidate>
    <div class="form-group row">
        <label class="control-label col-md-12">Name</label>
        <div class="col-md-4">
            <input class="form-control" type="text" value="name" formControlName="name" />
        </div>
        <span class="text-danger" *ngIf="name.invalid && formDir.submitted">
            Name is required.
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="Address">Address</label>
        <div class="col-md-4">
            <input class="form-control" name="address" type="text" formControlName="address" />
        </div>
        <span class="text-danger" *ngIf="address.invalid && formDir.submitted">
            Address is required
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="Email">Email</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="email">
        </div>
        <span class="text-danger" *ngIf="email.invalid && formDir.submitted">
            Email is required
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="phone">Phone</label>
        <div class="col-md-4">
            <input class="form-control" type="text" id="phone" formControlName="phone">
        </div>
        <span class="text-danger" *ngIf="phone.invalid && formDir.submitted">
            Phone is required
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="Comments">Comments</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="comments">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default" value="submit">Save</button>
        <button type="button" class="btn" (click)="addContact()">Create contact</button>
        <button class="btn" (click)="cancel()">Cancel</button>
    </div>

</form>

</ng-container>


<ng-container *ngIf="condition">
    <form [formGroup]="contactForm" (ngSubmit)="saveContact()" novalidate>
        <div class="form-group row">
            <label class="control-label col-md-12">Name</label>
            <div class="col-md-4">
                <input class="form-control" name="cname" type="text" formControlName="name" />
            </div>
            <span class="text-danger" *ngIf="cname.invalid && formDir.submitted">
                Name is required.
            </span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12" >Role</label>
            <div class="col-md-4">
                <input class="form-control" name="crole" type="text" formControlName="role" />
            </div>
            <span class="text-danger" *ngIf="crole.invalid && formDir.submitted">
                Role is required
            </span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12">Phone</label>
            <div class="col-md-4">
                <input class="form-control" type="text" name="cphone" formControlName="phone" />
            </div>
            <span class="text-danger" *ngIf="cphone.invalid && formDir.submitted">
                Phone is required
            </span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12" for="Mail">Mail</label>
            <div class="col-md-4">
                <input class="form-control" name="cmail" type="text" formControlName="mail" />
            </div>
            <span class="text-danger" *ngIf="cmail.invalid && formDir.submitted">
                Email  is required
            </span>
        </div>
        <button type="submit" class="btn btn-default" value="submit">Save</button>
        <button class="btn" (click)="cancel()">Cancel</button>
    </form>
</ng-container>